/* =====================   CSS RESET SECTION ==== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b2 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary, time, mark,
audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
img{vertical-align: top;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav,
section, canvas, main,video { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html, body{  width: 100%;  height: 100%;  }

/*   GENERAL SECTION */

body {
	font-family: Helmet,Freesans,Helvetica,Arial,sans-serif;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

/*    LOGO AND LINKS SECTION */
.logo
{
    width: 483px;
    height: 158px;
    cursor: pointer;
}

.logoandlinks
{
   background-image: url("../img/logo.png"); 
   display: flex;
   justify-content: space-between;
    
}

/*   TOP MENU SECTION */

.topMenu ul li a
{      
    color: white;
    text-decoration: none;
}
.topMenu ul
{
    width:460px;
    display: flex;
    justify-content: space-around;
    background-color: #684180;
    padding-top: 10px;  
    padding-bottom: 10px;
    
}
.topMenu ul li a:hover
{
    text-decoration: underline;
}

/*   TOP NAVIGATION SECTION */
.topNav
{
    padding-top: 5px;
    padding-bottom: 20px;
}
.topNav ul li a
{
      
    color: white;
    text-decoration: none;
}
.topNav ul
{
    display: flex;
    justify-content: space-around;
    background-color: #684180;
    padding-top: 20px;  
    padding-bottom: 20px;
    
}
.topNav ul li a:hover
{
    text-decoration: underline;
}


/*    BIG PICTURE SECTION */
.bigPic
{   
    background-image: url("../img/new_6.jpg"); 
    height: 400px;
    cursor:pointer;
}

.headline
{
    width: 960px;
    height: 40px;
    color: black;
    padding-top: 20px; 
    font-weight: bold;
}

.clock
{
    padding-right: 2px;
}
.verticalline
{
    padding-right: 4px;
    border-right: 2px solid #C6BFB7;
    font-size: 12px;
}
.place
{
    font-size: 12px;   
}
.timeplace
{
    padding-top: 10px;
    font-size: 11px;
}


.dots
{
    text-align: center;
    padding-bottom : 10px;
    border-bottom: 2px solid #C6BFB7;
    cursor: pointer;
    margin-top: -10px;
}



/*  SHORT NAVIGATION SECTION */

.shortNav
{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    
}
.shortNav ul li a
{
      
    color: white;
    text-decoration: none;
}
.shortNav ul
{
    display: flex;
    justify-content: space-around;
    background-color: #684180;
    padding-top: 20px;  
    padding-bottom: 20px;
    
}
.shortNav ul li a:hover
{
    text-decoration: underline;
}



/*  LATEST STORIES SECTION */

.latestRow
{
    display:flex;
    width: 960px;
    padding-bottom: 20px;
    border-bottom: 2px solid #C6BFB7;    
}

.latestCol
{
    border-style: dotted;
    border-color: black;
    border-width: 1px;
    width: 480px;
}

.latestCol ul 
{
    padding-left:20px;
    padding-top: 20px;
    padding-right: 20px;
    
}

.latestCol ul li
{
    padding-bottom: 20px;
    
}

.latestCol ul li a
{
    text-decoration: none;
    
}

.latestCol ul li a:hover
{
    text-decoration: underline;
    color:black;
    
}


.upperLeftNews
{
    border-bottom: 2px solid #C6BFB7;
    display: flex;
    padding-bottom: 20px;
    padding-top:20px;
    cursor:pointer;
}

.upperLeftNews div iframe
{
    padding-left:20px;
    padding-right: 20px;
}
.upperLeftNews div a img
{
    padding-left:20px;
    padding-right: 20px;
}
.latestCol div h6
{
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
}
.latestCol div p
{
    padding-bottom: 20px;
    padding-right: 20px;
    font-size:14px;
}

.readMore {
	display: block;
	background-color: #684180;
	color: #fff;
	text-decoration: none;
	padding: 10px 0;
	text-align: center;
    width: 100px;
}

.readMore:hover{
	text-decoration: underline;
}

/* MOST READ SECTION  */
h2
{
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
h3
{
    padding-top:20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.link
{
    color: black;    
}

.link:hover
{
    text-decoration: underline;
    color:black;
}


/*  SITEMAP AND SOCIAL MEDIA SECTION   */

.sitemap
{
    display:flex;
}

.goToTop
{
    display:flex;
    justify-content: space-between;
}
.goToTop div a
{
    padding-left: 20px;
    
}





