/* =====================   CSS RESET SECTION ==== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b2 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary, time, mark,
audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
img{vertical-align: top;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav,
section, canvas, main,video { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html, body{  width: 100%;  height: 100%;  }

/*   GENERAL SECTION */

body {
	font-family: Helmet,Freesans,Helvetica,Arial,sans-serif;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

/*    LOGO AND LINKS SECTION */
.logo
{
    width: 483px;
    height: 158px;
    cursor: pointer;
}

.logoandlinks
{
   background-image: url("../img/logo.png"); 
   display: flex;
   justify-content: space-between;
}

/*   TOP MENU SECTION */

.topMenu ul li a
{      
    color: white;
    text-decoration: none;
}
.topMenu ul
{
    width: 460px;
    display: flex;
    justify-content: space-around;
    background-color: #684180;
    padding-top: 10px;  
    padding-bottom: 10px;
}

.topMenu ul li a:hover
{
    text-decoration: underline;
}

/*   TOP NAVIGATION SECTION */
.topNav
{
    padding-top: 5px;
    padding-bottom: 20px;
}
.topNav ul li a
{  
    color: white;
    text-decoration: none;
}
.topNav ul
{
    display: flex;
    justify-content: space-around;
    background-color: #684180;
    padding-top: 20px;  
    padding-bottom: 20px;
}
.topNav ul li a:hover
{
    text-decoration: underline;
}


/*    BIG PICTURE SECTION */
.bigPic
{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #C6BFB7;
}
.headline
{    
    font-size: 30px;
    color: black;
    padding-top: 20px; 
    font-weight: bold;
    padding-bottom: 60px;
    text-decoration: none;
}
.headline:hover
{    
    text-decoration: underline;
}

.readMore {
	display: block;
	background-color: #684180;
	color: #fff;
	text-decoration: none;
	padding: 10px 0;
	text-align: center;
    width: 200px;
}

.readMore:hover{
	text-decoration: underline;
}
.clock
{
    padding-right: 2px;
}
.verticalline
{
    padding-right: 4px;
    border-right: 2px solid #C6BFB7;
}
.timeplace
{
    padding-top: 5px;
    font-size: 11px;
}

/*  GRID SECTION   */

.grid
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content:space-between;
}
.middleleftgrid
{
    display:flex;
    height:225px;
    border-bottom: 2px solid #C6BFB7;
    justify-content: space-between;
    
}

.sub
{
    padding-top: 15px;
}
.subheadlineleftgrid
{
    font-size: 15px;      
    padding-bottom: 5px;
    color: black;
    text-decoration: none;
}

.subheadlineleftgrid:hover
{
    text-decoration: underline;
}

.text
{
    padding-bottom: 5px;
    padding-top: 5px;
    color:grey;
    font-size: 12px;
}


/*  RIGHT VIDEOS SECTION   */

.videosgrid
{
     border-bottom: 2px solid #C6BFB7;
    
}


.rightvideogrid
{
    padding-bottom: 20px;
    padding-left: 20px;
    display: flex ;
}

.subheadline
{
    font-size: 15px;      
    padding-bottom: 10px;
    padding-left: 20px;    
    text-decoration: none;
}


.subheadlinetext
{
    color: grey;
    font-size: 12px;
    padding-left: 20px;
}

.time
{
    padding-top: 5px;
    font-size: 11px;
    padding-left: 20px;
}

.link
{
    color:black;
    text-decoration: none;
}

.link:hover
{
    text-decoration: underline;
}


/*  LEFT LOWER FEATURES SECTION   */
.lowergrid
{
     
    border-right: 2px solid #C6BFB7;
    width: 47.2%;
    margin-top: -180px;
    
}

.features
{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
.middleleft
{
    display:flex;
    justify-content: space-between;
}

/*  LOWER RIGHT HEADLINES SECTION   */
.lowerrightgrid
{
    width: 53.7%;    
    margin-left: 480px;
    margin-top: -70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
    
    
}
.head
{
    padding-top: 10px;
    font-size: 15px;
}

/*  SITEMAP & SOCIAL MEDIA SECTION   */

.sitemap
{
    display:flex;
}

.goToTop
{
    display:flex;
    justify-content: space-between;
}
.goToTop div a
{
    padding-left: 20px;
    
}
.latestRow
{
    display:flex;
    width: 960px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 2px solid #C6BFB7;
    border-top: 2px solid #C6BFB7;
}
.latestCol
{
    width: 455px;
}

.latestCol ul 
{
    padding-left:20px;
    padding-top: 20px;
    padding-right: 20px;
}

.latestCol ul li
{
    padding-bottom: 20px;
}

.latestCol ul li a
{
    text-decoration: none;
}

.latestCol ul li a:hover
{
    text-decoration: underline;
    color:black;
}


