/* =====================   CSS RESET SECTION ==== */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0b2 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output,
ruby, section, summary, time, mark,
audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
img{vertical-align: top;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav,
section, canvas, main,video { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
html, body{  width: 100%;  height: 100%;  }

/*   GENERAL SECTION */
body {
    font-family: "Merriweather", serif;
    background-color: lightgray;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

/*    LOGO AND LINKS SECTION */
.logo
{
    width: 100%;
    height: 160px;
    cursor: pointer;
}

.logoAndLinks
{
    background: url("../img/newlayout/news.png") no-repeat;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/*   TOP MENU SECTION */
.topMenu ul
{
    width:260px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.topMenu ul li
{
    padding-right: 10px;
    border-right: 2px solid darkgray;
}
.topMenu ul li a
{
    color: #40444B;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.topMenu ul li a:hover
{
    border-bottom: 1px solid #40444B;
}

/*   TOP NAVIGATION SECTION */
.topNav
{
    margin-top: -40px;
    width: 500px;
    margin-left:470px;
    padding-bottom: 23px;
}
.topNav ul li a
{
    color: #40444B;
    text-decoration: none;
    padding-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}
.topNav ul
{
    display: flex;
    justify-content: space-around;
    border-left: 2px solid darkgray;
}
.topNav ul li
{
    padding-right: 25px;
    border-right: 2px solid darkgray;
}

.topNav ul li a:hover
{
    border-bottom: 1px solid #40444B;
}


/*    BIG PICTURE SECTION */

.bigPic
{
    background: url('../img/politics/melania.jpg') no-repeat;
    display: flex;
    height: 400px;
    width: 50%;
}

.header
{
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 400px;
    border-top:3px solid #A4031F;
    background-color:#40444B;
}

.grey
{
    margin-left: 480px;
    margin-top: -400px;
    height: 400px;
    width:50%;
}

.headline
{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 0px 10px 20px;
    font-size: 2.8125rem;
    text-shadow: 2px 2px 4px #000000;
    line-height: 1.2;
    letter-spacing: 3px;
}

.headlineText
{
    padding-left: 20px;
    color: #ffffff;
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 2px;
}
.readMore
{
    color:#ffffff;
    padding-left: 20px;
    text-decoration: none;
}

.readMore:hover
{
    text-decoration: underline;
    cursor: pointer;
}



/*  GRID SECTION   */

/*TOP LEFT GRID*/
.clock
{
    padding-right: 3px;
    font-size: 18px;
    letter-spacing: 1px;
    color:#ffffff;
}
.verticalLine
{
    padding-right: 4px;
    border-right: 2px solid #C6BFB7;
}

.timePlace
{
    padding-top: 5px;
    font-size: 12px;
    letter-spacing: 1px;
}
.time
{
    font-size: 12px;
    padding-left: 20px;
    letter-spacing: 1px;
}

.grid
{
    display: flex;
    padding-top: 20px;
    justify-content:space-between;
}

.topLeftGrid
{
    background-color: #ffffff;
    border-top: 3px solid #A4031F;
    height: 299px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    box-sizing: border-box;
}
.cameron
{
    padding-top: 20px;
}

.sub
{
    padding-top: 20px;
    padding-bottom: 10px;
}
.subHeadline
{

    font-weight: bold;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}
.subHeadline:hover
{
    text-decoration: underline;
}

.text
{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: grey;
    padding-bottom: 10px;
}

/*  RIGHT VIDEOS SECTION   */

.videosGrid
{
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #ffffff;
    border-top: 3px solid #A4031F;
    margin-left: 10px;
}

.rightVideoGrid
{
    padding-bottom: 30px;
    padding-left: 20px;
    display: flex ;
}

.rightVideoGrid:last-child
{
    padding-bottom: 23px;
    padding-left: 20px;
    display: flex ;
}

.subHeadlineVideo
{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-decoration: none;
}

.link
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
}

.link:hover
{
    text-decoration: underline;
}


.subHeadlineText
{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-left: 20px;
    color:grey;
    padding-right: 20px;
    padding-bottom: 10px;
}

/*  LEFT LOWER FEATURES SECTION   */

.middleLeft
{
    display:flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 475px;
    box-sizing: border-box;
    border-top: 3px solid #A4031F;
    margin-bottom: 10px;
    margin-top: -258px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 14px;

}

/*  LOWER RIGHT HEADLINES SECTION   */
.linkFeatures
{
    color:black;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.noUnderline
{
    text-decoration: none;
}
.noUnderline:hover
{
    text-decoration: underline;
}


.lowerRightGrid
{
    width: 960px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-top: 3px solid #A4031F;
    margin-bottom: 20px;
}

.divFeatures
{
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}
.paddLeft
{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid lightgray;

}


/*  SITEMAP SECTION   */
.sitemap
{
    display:flex;
}


.latestRowSiteMap
{
    border-top: 3px solid #A4031F;
    background-color: #40444B;
}

.title
{
    color: #ffffff;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}

.linkSiteMap
{
    color: #40444B;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.2;
}

.linkSiteMap:hover
{
    text-decoration: underline;
    color:#ffffff;
}

.siteSocial
{
    margin: 0 auto;
    width:960px;
    display:flex;
    justify-content: space-between;
}

.latestColSiteMap ul
{
    padding-top: 20px;
}

.latestColSiteMap ul li
{
    padding-bottom: 20px;
    width:150px;
}

.latestColSiteMap ul li a
{
    text-decoration: none;
    color:#ffffff;
}

.latestColSiteMap ul li a:hover
{
    text-decoration: underline;
    color: #ffffff;
}

/* SOCIAL MEDIA SECTION*/

.goToTop
{
    display:flex;
    justify-content: space-between;
}
.goToTop div a
{
    padding-left: 10px;
    color: #ffffff;
    padding-top: 10px;
}

.linkTop
{
    color: #40444B;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-decoration: none;

}

.linkTop:hover
{
    text-decoration: underline;
    color:#ffffff;
}

.latestColSocialMedia ul li a
{
    text-decoration: none;
}

.latestColSocialMedia ul li a:hover
{
    text-decoration: underline;
    color:#40444B;
}

.base
{
    background-color: black;
    height: 50px;
    color:#ffffff;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
}
